<!-- 
  <div class="body">
    <div class="login">     
      <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
          <img src="../../../assets/img/usuario.png.png" width="50%"> 
          <h1>login</h1>
            <mat-form-field class="ancho" appearance="fill">           
              <mat-label>Usuario</mat-label>            
              <input type="text" matInput autocomplete="off" formControlName="usuario">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input matInput autocomplete="off" formControlName="password" type="password">
            </mat-form-field>
            <br>
            <button type="submit" class="ancho button" mat-raised-button color="primary" [disabled]="form.invalid">Ingresar</button>
      </form> 
    </div>
</div>
-->

<!-- 
  <div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Iniciar Sesion</h5>
    <p class="card-text">Ingresa tu nombre de usuario y contraseña</p>
    <form (submit)="login()">
      <div class="mb-3">
        <label for="user" class="form-label">Usuario</label>
        <input type="text" class="form-control" maxlength="10" id="user" name="user" aria-describedby="emailHelp" [(ngModel)]="loginData.usuario">
      </div>
      <div class="mb-3">
        <label for="pass" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="pass" name="pass" [(ngModel)]="loginData.password">
      </div>      
      <button type="submit" class="btn btn-primary">Iniciar sesion</button>
    </form>
  </div>
</div>
-->

<div class="body">
  <div class="login">
  <h1 class="color"><strong>South Real Estate</strong></h1>
    <form [formGroup]="form" (submit)="login()">
      <img src="../../../assets/img/usuario.png.png"  width="50%">
      <h1 class="color">Iniciar Sesion</h1>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label  for="user" class="form-label">Usuario</mat-label>
        <input matInput autocomplete="off" formControlName="usuario" id="user" name="user" aria-describedby="emailHelp" [(ngModel)]="asesores.usuario">
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput autocomplete="off" formControlName="password"  type="password" [(ngModel)]="asesores.password">
      </mat-form-field>
      <br>
      <button class="ancho button" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Ingresar</button>
    </form>
  </div>
</div>




