.bg-custom{
    background-color: rgb(9, 130, 243);
    color: white;
}

.navbar-text{
    color: white;

}

.navbar{
    height: 60px;
    padding: 10px;
}

.point{
    list-style: none;
    color:#6991ac
}

.rigth{
    float: right;
}

