
<div class="card text-center">
  <h5 class="card-title">Bienvenido a su Inmobiliaria South Real Estate..!! </h5>

  <img class="home-img" src="../../../assets/zonas-verde-casa.jpg" height="300px">
  <div class="card-body" >
        <p class="card-text">Las mejores ofertas que se ajustan para tu necesidad</p>
        <a routerLink="/apartamentos" class="btn btn-primary">Ver Apartamentos</a>
        <br>
        <br>
        <a routerLink="/login" class="btn btn-primary" *ngIf="!isLogged">Login</a>
      </div>
    


    <!-- 
      <section>
      <div>
        <a href="">
          <img typeof="foaf:Image" class="img-responsive" src="https://www.google.com/search?q=torre%20de%20apartamentos%20amarillo%20en%20suecia&tbm=isch&tbs=rimg:CWgQ4iRMBLhPYa8doqwig4KesgIMCgIIABAAOgQIABAA&hl=es-419&sa=X&ved=0CBsQuIIBahcKEwjIjoKp5Oz1AhUAAAAAHQAAAAAQDw&biw=1349&bih=625#imgrc=MSfsBfF1vzqSbM" width="1500" height="700">
        </a>
      </div>
    </section>
    -->
    
    <div class="card-footer text-muted">
      2 days ago
    </div>
</div>
